.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F2A44;
    padding: 10px 20px;
}

h1,h3,p
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu a
{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.titulo
{
    color: white;
}

.Inicio
{
    background-color:#1E3A5F;
    color: white;
}

.destinos
{
    background-color: #4DA8DA;
}
