.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #081624;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);

}

h1,h2,h3,p,li, .navbar
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1
{
    font-size: 40px;
    text-align: center;
}

h2
{
    border-bottom: 2px solid #4DA6FF;
    padding-bottom: 5px;
}

.menu a
{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.menu a:hover
{
    color: #8cbbed;
    transition: 0.3s;
}

.titulo
{
    color: white;
}


img
{
     border: 4px solid #1E3A5F;
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover
{
    transform: scale(1.05);
}

html, body
{
    height: 100%;
    margin: 0%;
}
body
{
    background-color: #152841;
    display: flex;
    flex-direction: column;
}

main
{
    flex: 1;
}

footer
{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


table
{
    color: white;
}